$primary: #666699;
$body-bg: #f0f0ff;

.FormFieldNames {
    font-weight: bold
}

.SignupText {
    padding-left: 45%;
    font-size: 20px;
}

.LoginText {
    padding-left: 45%;
    font-size: 20px;
}

.LoginRegisterButtons {
    margin-top: 10px;
}

@import '~bootstrap/scss/bootstrap.scss';

